.image{
    width: 46%;
    border-radius: 8px;
    size: 600px;
}
.conteiner{
    width: 80%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0a1128;
    align-items: center;
}
.conteiner:hover{
    box-shadow: 0 0 20px black;
}

.data{
    color: rgb(193, 193, 193);
}