@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.image{
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    animation: fadein 1s;
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
}
.conteiner{
    width: 80%;
    margin: auto;
    padding: 5px;
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items:center;
}
/* .conteiner:hover{
    width: 100%;
} */

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}






.containerInfo{
    font-family: 'Helvetica';
    /* padding: 11em 0em 0em 0.5em; */
    background-color: rgba(0, 0, 5, 0.5);
    height: 124px;
    width: 290px;
    text-align: left;
    position: absolute;
    top: 11em;
    /* left: 0.5em; */
    padding-left: 0.5em;
    text-shadow: 6px 4px 14px rgb(0 0 0 / 50%);
}

.containerInfo ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.containerInfo ul li{

}

.container{
    /* background-color: none; */
   background-image: url('https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg');
   max-height: 300px;
   max-width: 290px;
   height: 300px;
   width: 290px;
   background-size: 110% 100%; 
}

/* .data:hover{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 19px;
    justify-content: left;
    margin: 30px 70px 30px 70px;
} */