body{
    background-color: #000000;
}
.background{
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
}


.header{
    display: flex;
    background-color: #000000;
    justify-content: left;
    align-items: center;
}

.home{
    background-color: transparent;
}

.home img{
    width: 50px;
    height: 50px; 
    border-radius: 10px;
    transition-duration: 0.5s;
  }
.home img:hover{
      filter: brightness(2);
      filter: blur(.5px);
  }

.h1{
    color: #ffffff;
    font-family: Helvetica;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(185, 185, 185, 0.199);
    background-color: black;
    font-weight: lighter;
    background-size: cover;
}

.paginado1{
    justify-content: center;
    display: flex;
}


.main{
    display: flex;
    
}

.games{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    gap: 1.5em;
    margin: 0 1em;
 }

.containerCard{
    border: 1px solid white;
    border-radius: 10px;
}
.containerCard a{
    text-decoration: none;
    color: white;
}
.containerCard:hover{
    box-shadow: -5px 4px 44px -3px rgba(255,255,255,0.75);
    -webkit-box-shadow: -5px 4px 44px -3px rgba(255,255,255,0.75);
    -moz-box-shadw: -5px 4px 44px -3px rgba(255,255,255,0.75);
}

 .sppiner{
    width: 3rem;
    /* width: 100%; */
    height: 3rem;
    flex-direction: column;
    border: 1rem solid #eff2fd;
    border-top-color: rgb(128, 128, 128);
    border-top-style:solid;
    border-width: 3px;
    position: relative;
    left: auto;
    right:70px;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
    filter: blur(1px);
    transition-duration: 0;
    margin: auto;
    margin-top: 180px;
    
}

@keyframes spin {
    from{
        opacity: 1;
    }
    to{
        transform: rotate(2turn);
        filter: blur(1px);
        
        opacity: 0,7;
    }
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.divSideBar{
 display: flex;
 flex-direction: column;
 height: 200%;
 width: 30%;
 background-color: #000000;
 position: absolute;
 left: 20px;
 top: 200px;
 justify-content: left;
 transition-duration: 1s;
 opacity: 0;
 animation: fadein 1s;
}

.containerAside{
   color:white;
   background-color: #000000;
   display: flex;
   flex-direction: column;
   transition-duration: 0.5s;
   background-color: #35343481;
   padding: 0.5em;
   border-radius: 8px;
   position: sticky;
   height: 16em;
   top: 0;
   margin: 0 1em;
}
.containerAside a{
    color: white;
}

.divSections2{
    position: relative;
    color:white;
    background-color: #000000;
    font-family: Helvetica;
    text-decoration: none;
    justify-content: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    right: 550px;
    top: 100px;
 }

.divSections:hover{
    color: grey;
}

.h1{
    display: flex;
    color:white;
    position: absolute;
    top: 40%;
    font-size: 50px;
    left: -20%;
    width: 400px;
}

.h1 h1{
    font-size: 50px;
}

.p{
    color: rgba(255, 255, 255, 0.473);
    font-size: 15px;
    opacity: 0.7;
}
.pButt{
    color: rgba(255, 255, 255, 0.473);
    font-size: 14px;
    opacity: 0.8;
    border-color: rgba(252, 253, 255, 0);
    padding: 2px;
    transition-duration: 0,2s;
    
}
pButt:hover{
    border: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0.473);
    
}

.containerSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.divOrder {
    color: #fff;
    display: flex;
    align-items: center;
    width:200px;
    padding: .5em;
    font-weight: 100;
    padding-left: 1.2em;
    justify-content: center;
    background-color: #35343481;
    border-radius: 8px; 
    transition-duration: .5s;
}

select{
    /* -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;*/
   /* appearance:initial; */
   outline: 0;
   border: 0;
   background: #0a4b3e;
   background-image: none;
   flex: 1;
   padding: 0em .3em ;
   color:rgb(255, 255, 255);
   cursor: pointer;
   font-size: 1em;
   font-family: Helvetica;  
}

select::-ms-expand {
    display: none;
}

.divOrder select{
   text-align: center;
   display: flex;
   width: 60px;
   height: 60px;
   line-height: 1;
   font-weight: 700;
   background: #67686800;
   transition-duration: .5s;
   border-radius: .25em;
}

.divOrder select:hover{
    background-color: transparent;
    color: grey;
}

.divOrder:hover{
    color: grey;
}

.divOrder:hover select{
    background-color: transparent;
    color: grey;
}

.divOrder select::after {
    
   position: absolute;
   top: 0;
   right: 0;
   align-items: center;
   align-content: center;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition: 2s all ease;
}

.divOrder select:hover::after{
    color: #850101;
}


.divFilter{
    color: #fff;
    display:block;
    align-items: baseline;
    /* margin-right: 1100px; */
    position: absolute;
    left: 17px;
    top: 300px;
    background-color: #000000;
    
}

.divSelFilter{
    margin: 20px;
    
}


.selselect{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance: none;
    outline:0;
    box-shadow:none;
    border:0;
    background: #c9c9c91f;
    background-image: none;
    flex: 4;
    padding: 0 .5em;
    color:rgb(255, 255, 255);
    cursor:pointer;
    font-size: 15px;
    font-family: Helvetica;
    border-radius: 4px;
    transition-duration: .25s;
 }
select::after {
    display: none;
 }
select {
    position: relative;
    
    width: 120px;
    height: 20px;
    
 }
select:hover{
    background-color: #5353535d;
    color: #ffffff;
 }
 select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #303030;
    cursor:pointer;
    pointer-events:none;
    transition: 1s;
 }

 .div{
    position: absolute;
    margin-left: 20%;
    top: 200px;
    background-color: #000000;

 }


 



 
  .searchBar{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 80px;
 }

 .paginado2{
    display: flex;
    position: relative;
    bottom: 100px;
}

 
 