body{
    background-color: #000000;
}
.background{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   background: #000000;
   
   
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    
    color: #fff;
     
}

.h1{
    color: #ffffff;
    font-family: Helvetica;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(185, 185, 185, 0.199);
    background-color: black;
    font-weight: lighter;
    background-size: cover;
}

.sppiner{
    width: 3rem;
    height: 3rem;
    flex-direction: column;
    border: 1rem solid #eff2fd;
    border-top-color: rgb(128, 128, 128);
    border-top-style:solid;
    border-width: 3px;
    position: relative;
    left: auto;
    right:70px;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
    filter: blur(1px);
    transition-duration: 0;
    margin: auto;
    margin-top: 180px;
    
}

@keyframes spin {
    from{
        opacity: 1;
    }
    to{
        transform: rotate(2turn);
        filter: blur(1px);
        
        opacity: 0,7;
    }
}

.divSideBar{
 display: block;
 grid-template-columns: auto;
 align-items:center;
 background-color:transparent;
 position: absolute;
 left: 20px;
 top: 200px;
 justify-content: left;
}

.divSections{
   color:white;
   background-color: #000000;
   text-decoration:line-through(rgb(255, 255, 255));
   font-family: Helvetica;
   text-decoration: none;
   position: relative;
   justify-content: left;
}

.divSections h2{
    color:rgb(255, 255, 255);
    position: relative;
    display: flexbox;
    justify-content: left;
    
    text-decoration-line: underline(black);
    font-family: Helvetica;
    text-decoration: none;
 }

.p{
    color: rgba(255, 255, 255, 0.473);
    font-size: 15px;
    opacity: 0.7;
}
.pButt{
    color: rgba(255, 255, 255, 0.473);
    font-size: 14px;
    opacity: 0.8;
    border-color: rgba(252, 253, 255, 0);
    padding: 2px;
    transition-duration: 0,2s;
    
}
pButt:hover{
    border: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0.473);
    
}


.divOrder {
    color: #fff;
    display: inline-flex;
    align-items: center;
    width:200px;
    height: 45px;
    position: absolute;
    padding-left: 1.2em;
    justify-content: center;
    background-color: #35343481;
    top: 150px;
    right: 70px;
    border-radius: 8px; 
    transition-duration: .5s;
      
}

select{
    -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #0a4b3e;
   background-image: none;
   flex: 1;
   padding: 0 .3em ;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;  
}

select::-ms-expand {
    display: none;
}

.divOrder select{
   position: relative;
   display: flex;
   width: 60px;
   height: 50px;
   line-height: 1;
   font-weight: 1000;
   font-style: inherit;
   background: #67686800;
   transition-duration: .5s;
   overflow:hidden;
   border-radius: .25em;
   
}

.divOrder select:hover{
    background-color: transparent;
    color: grey;
}

.divOrder:hover{
    color: grey;
}

.divOrder select::after {
    
   position: absolute;
   top: 0;
   right: 0;
   align-items: center;
   align-content: center;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition: .25s all ease;
}

.divOrder select:hover::after{
    color: #850101;
}



















.divFilter{
    color: #fff;
    display:block;
    align-items: baseline;
    /* margin-right: 1100px; */
    position: absolute;
    left: 17px;
    top: 300px;
    background-color: #000000;
    
}

.divSelFilter{
    margin: 20px;
    
}


.selselect{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance: none;
    outline:0;
    box-shadow:none;
    border:0;
    background: #c9c9c91f;
    background-image: none;
    flex: 4;
    padding: 0 .5em;
    color:rgb(255, 255, 255);
    cursor:pointer;
    font-size: 15px;
    font-family: Helvetica;
    border-radius: 4px;
    transition-duration: .25s;
 }
select::after {
    display: none;
 }
select {
    position: relative;
    
    width: 120px;
    height: 20px;
    
 }
select:hover{
    background-color: #5353535d;
    color: #ffffff;
 }
 select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #303030;
    cursor:pointer;
    pointer-events:none;
    transition: 1s;
 }

 .div{
    position: absolute;
    margin-left: 20%;
    top: 200px;
    background-color: #000000;

 }

 .games{
    /* display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    align-items: start; */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items:center;

 }

 .header{
     display: flex;
     background-color: #000000;
     justify-content: left;
     align-items: center;
     position: absolute;
     left: 20px;
     top: 60px;
 }

.home{
      background-color: transparent;
 }
.home img{
    width: 40px;
    height: 40px; 
    border-radius: 10px;
    transition-duration: 0.5s;
  }
.home img:hover{
      filter: brightness(2);
      filter: blur(.5px);
  }
 
  .searchBar{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 80px;
 }

 
 