.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    margin: 1rem;
    list-style: none;
/*     flex: 1; */
  }
button {
    background-color:  #b4b4b400;
    flex-direction: column;
    color: #171717;
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 4px;
    border: #17171700 solid 1px;
    padding: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #17171700 ;
    color:  #171717;
    transition-delay: 0.1s;
    transition: 0.2s;
    border: #b4b4b4 solid 2px;
}
li{
    margin: 3px;
}