.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    margin: 1rem;
    list-style: none;
/*     flex: 1; */
  }
button {
    background-color:  #e2eafc;
    flex-direction: column;
    color: #0a1128;
    font-size: 13px;
    font-family: Helvetica;
    border-radius: 6px;
    border: #e2eafc solid 3px;
    padding: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #0a1128 ;
    color:  #e2eafc;
    transition-delay: 0.2s;
    transition: 0.8s;
    border: #e2eafc solid 3px;
}
li{
    margin: 3px;
}