.container{
    width: 150%;
    height: 20px;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.062);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 1s;

}

.container:hover{
    background: rgb(255, 255, 255);
}

.container input{
    background-color: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 20px 2px;
    font-size: 16px;
    color: #000000;

}

 ::placeholder{
    font-style: italic;
    filter: blur(.25px);
    font-size: 15px;
    
}

.container button img{
width: 15px;
height: 20px;
size: 20px;
transition-duration: 1s;
}
.container:hover button img{
    color: black;
    background-color: black;
    width: 15px;
    height: 20px;
    size: 20px;
    border-spacing: 100px;
    border-radius: 40px;
}

.container button img:hover{
    filter:brightness(300)
    }

.container button{
    border: 0;
    border-radius: 40%;
    width: 30px;
    background: #99999900;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }